 /*  COPY OF STYLES, FOR  SINGLE PRODUCT PAGE , ALL STYLES IN INDEX.CSS     */
 
 /*  
        body{
              background-color: #FFFFFF;
              padding: 0;
              margin: 0;
          }

          #main_container{
              position: relative;
          }
          .main_container::after{
                content: "";
                position: absolute;
                z-index: 1;
                background:rgba(0,0,0,0.5);
               
               top:0;
               bottom: 0;
               right: 0;
               left: 0;

            }
          #header_container{
              width:80vw;
              margin: auto;
          }
          #header{
              
             
              text-align: center;
             display: flex;
             justify-content: center;
             padding: 10px 0px;
          
             
          }

          #navbar{
            align-self: center;
             flex:33%;
             text-align: left;
           
          }


          .links{
            
              text-decoration: none;
              cursor: pointer;
              color:#102A42;
              font-size: 22px;
              padding: 10px;
              font-family: 'Roboto', sans-serif;
              letter-spacing: 2px;
              transition: color 1s;
          }

          .links:hover{
              color:#BA5D2C;
          }
          #logo{
              padding: 0;
              margin: 0;
              flex:33%;
              
              display: inline-block;
             
              
          }
          #cart_container{
              align-self: center;
              flex:33%;
              float: right;
              display: inline;
            
             position: relative;
             cursor: pointer;

          }
          #cart{
              position: absolute;
              top:-10;
              right:-10;
              color:#102A42;
              font-size: 2rem;
          }
          #items_in_cart_div{
              background-color: #BA5D2C;
              color:white;
              border-radius: 50%;
              padding: 5px 8px;
              position: absolute;
              top:-27;
              right:-20;
              cursor: pointer;
          }
          #items_in_cart{
              font-family: 'Roboto', sans-serif;

          }
          .page_title{
              background-color: #F1F5F8;
              width:100vw;
              color:#617D98;
              padding: 50px 0px;
             
          }
          .page_title h1{
              width:80vw;
              margin: auto;
              font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                text-align: left;
              }
              #single_product_grid{
                  display: grid;
                  justify-content: center;
                  padding: 50px 0px;
                  grid-template-columns: 40% 40%;
                  grid-column-gap: 40px;
              }
              .image_grid{
                  background-color: blue;
              }
              .image{
                  border-radius: 10px;
                  object-fit: cover;
                  width:100%;
                  height: auto;
              }
              .single_product_title{
                  color:#102A42;
                  letter-spacing: 2px;
                  font-family: 'Roboto', sans-serif;
                  font-size: 40px;
                  margin: 0;
                  font-weight: 300;

              }
              .company{
                font-family: 'Kaushan Script', cursive;
                color:#BCCCDB;
                letter-spacing: 2px;

              }
              .single_product_price{
                color:#102A42;
                letter-spacing: 2px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                }
                .color{
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                   
                    display: inline-block;
                    margin-right: 5px;
                }
                #add_to_cart{
                    background-color: #BA5D2C;
                    color:white;
                    border:none;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                #add_to_cart:hover{
                background-color:lightsalmon;
                color:#102A42;
            }
                .product_desc{
                    color:hsl(209, 22%, 49%);
                    margin: 15px 0px;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 1px;
                    width:70%;
                    line-height: 22px;
                } */

        /* Side Menu Styling */
             /*   #side_menu{
             position: fixed;
            background-color: #F1F5F8;
            width:350px;
            z-index: 2;
            top:0;
            right:0;
           
            height: 100vh;
            overflow: hidden;
           text-align: center;
           overflow: hidden;
            transition: transform 1s;

         }
         .hide_sidemenu{
            transform: translateX(100%);
         }
         .show_sidemenu{
             transform: translateX(0);
         }
         #close{
             padding: 15px;
             color:#617D98;
             font-size: 2rem;
             cursor: pointer;
             display: inline;
             float: left;

         }
         #side_menu h2{
             clear: both;
            text-align: center;
            font-family: 'Kaushan Script', cursive;
            font-size: 25px;
            color:#102A42;
            letter-spacing: 1px;
         }
         #sidemenu_bottom{
            position: fixed; 
             top:80vh;
             width:70%;
             left:15%; 
             
             font-family: 'Kaushan Script', cursive;
             font-size: 30px;
            letter-spacing: 2px;
         }

         #checkout{
             background-color: #BA5D2C;
             border-radius: 10px;
             padding: 10px;
             color:white;
            margin: 10px;
             border:none;
            width: 100%;
             letter-spacing: 2px;
             cursor: pointer;
             display: block;
             transition: color 1s,background-color 1s;

         }
         #total{
            font-family: 'Kaushan Script', cursive;
             font-size: 30px;

         }

         #checkout:hover{
             color:#324D67;
             background-color: lightsalmon;
           

         } */
         /* Your Shopping Bag Styling */
       /*  #your_bag{
        padding: 5px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        }
        .your_bag_container{
        display: grid;
        grid-template-columns: 30% 55% 10%;
        text-align: left;
        grid-column-gap: 5px;
        grid-row-gap: 20px;

        }
        .cart_details{
        padding-left: 10px;
        }
        .cart_image{
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
        height:10vh
        }
        .cart_product_name{
        color:#324D67;
        letter-spacing: 1px;
        padding: 0;
        margin: 0;
        }
        .cart_product_price{
        color:#617D98;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 3px;
        }
        .remove{
        color:#617D98;
        border:none;
        background-color: #F1F5F8;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;
        }
        .quantity_container{
        display: flex;
        flex-direction: column;
        align-content: center;
        }
        .up_arrow,.down_arrow{
        color:#BA5D2C;
        font-weight: 300;
        cursor: pointer;
        font-size: 1.5rem;
        border:none;
        background-color: #F1F5F8;
        align-self: center;

        }
        .quantity{
        align-self: center; 
        }  
        */
